body{
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
}
#Title{
    text-align: center;
}
#TitleAbove{
    margin-top: 3%;
    font-size: 35px;
}
#FirstBlog{
    display: inline-table;
    width: 800px;
    height: 700px;
    margin-top: 1%;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(230, 214, 214);
}
#ImgForFirstBlog{
    width: 100%;
    height: 350px;
}
#Dis1ForFirstBlog{
    font-size: 30px;
    margin-left: 2%;
}
#MoreDisForFirstBlog{
    margin-left: 2%;
}
#EvenMoreDisForFirstBlog{
    margin-left: 2%;
}
#ReadMore{
    color: white;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(14, 13, 13);
    padding: 5px;
    margin-left: 2%;
    display: inline;
}
#ReadMore:hover{
    border: none;
    background-color: gray;
}
#CommentSection{
    display: inline;
}
#NumberOfcomments{
    display: inline;
}
#comments{
    display: inline;
    margin-left: 500px;
}
#ThirdBlog{
    display: inline-block;
}
#SecondBlog{
    display: inline-table;
    width: 500px;
    height: fit-content;
    box-shadow: 3px 3px 3px rgb(230, 214, 214);
    margin-left: 2%;
    margin-top: unset;
    background-color: white;
}
#PicforSecondBlog{
    width: 100%;
}
#DisSecondPic{
    margin-left: 2%;
}
#EvenMoreDis{
    margin-left: 2%;
}
#LisF{    
    display: inline-block;
    margin-left: 62%;
}
#first{
    display: inline-block;
    width: 490px;
    height: 50px;
    background-color: gray;
}
#PopularBlogs{
    margin-top: 3%;
    color: white;
    margin-left: 7%;
}
#ImG{
    display: inline;
    width: 50px;
    height: 50px;
}
#IMGDIs{
    display: inline;
}
#Foot{
    margin-top: 5%;
    width: 100%;
    height: 75px;
    background-color: gray;
}
#prev{
    margin-top: 2%;
    margin-left: 5%;
    border: none;
    background-color: black;
    color: white;
    width: 85px;
    height: 35px;
    font-size: 20px;
}
#nex{
    margin-top: 2%;
    margin-left: 5%;
    border: none;
    background-color: black;
    color: white;
    width: 85px;
    height: 35px;
    font-size: 20px;
}
#nex:hover{
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
}
#prev:hover{
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
}
@media (min-width: 200px) and (max-width: 300px){
#Title{
    text-align: center;
}
#TitleAbove{
    margin-top: 3%;
    font-size: 35px;
}
#FirstBlog{
    display: block;
    width: 100%;
    height: fit-content;
    margin-top: 1%;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(230, 214, 214);
}
#ImgForFirstBlog{
    max-width: 100%;
    height: 100px;
}
#Dis1ForFirstBlog{
    font-size: 30px;
    margin-left: 2%;
}
#MoreDisForFirstBlog{
    margin-left: 2%;
}
#EvenMoreDisForFirstBlog{
    margin-left: 2%;
}
#ReadMore{
    color: white;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(14, 13, 13);
    padding: 5px;
    margin-left: 2%;
    display: inline;
}
#ReadMore:hover{
    border: none;
    background-color: gray;
}
#CommentSection{
    display: block;
}
#comments{
    display: none;
}
#NumberOfcomments{
    display: none;
}
#SecondBlog{
    display: block;
    width: 100%;
    margin-top: 2%;
    height: fit-content;
    box-shadow: 3px 3px 3px rgb(230, 214, 214);
    margin-top: unset;
    background-color: white;
}
#PicforSecondBlog{
    max-width: 100%;
    height: 100px;
}
#DisSecondPic{
    margin-left: 2%;
}
#EvenMoreDis{
    margin-left: 2%;
}
#ThirdBlog{
    display: block;
    width: 100%;
}
#FirstInBlogs{
    width: 100%;
}
#SecondInblogs{
    width: 100%;
}
#ThirdInblogs{
    width: 100%;
}
#ForthInblogs{
    width: 100%;
}
#LisF{    
    display: block;
    margin-left: unset;
    width: 100%;
}
#first{
    width: 100%;
}
#BlogOne{
    width: 100%;
}
}
@media (min-width: 300px) and (max-width: 400px){
    #Title{
        text-align: center;
    }
    #TitleAbove{
        margin-top: 3%;
        font-size: 35px;
    }
    #FirstBlog{
        display: inline-block;
        width: 100%;
        height: fit-content;
        margin-top: 1%;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(230, 214, 214);
    }
    #ImgForFirstBlog{
        max-width: 100%;
        height: 100px;
    }
    #Dis1ForFirstBlog{
        font-size: 30px;
        margin-left: 2%;
    }
    #MoreDisForFirstBlog{
        margin-left: 2%;
    }
    #EvenMoreDisForFirstBlog{
        margin-left: 2%;
    }
    #ReadMore{
        color: white;
        height: 50px;
        font-size: 20px;
        border: none;
        background-color: rgb(14, 13, 13);
        padding: 5px;
        margin-left: 2%;
        display: inline;
    }
    #ReadMore:hover{
        border: none;
        background-color: gray;
    }
    #CommentSection{
        display: block;
    }
    #comments{
        display: inline;
        margin-left: unset;
    }
    #NumberOfcomments{
        display: inline;
    }
    #ThirdBlog{
        display: block;
        width: 100%;
    }
    #FirstInBlogs{
        width: 100%;
    }
    #SecondInblogs{
        width: 100%;
    }
    #ThirdInblogs{
        width: 100%;
    }
    #ForthInblogs{
        width: 100%;
    }
    #LisF{    
        display: block;
        margin-left: unset;
        width: 100%;
    }
    #first{
        width: 100%;
    }
    #BlogOne{
        width: 100%;
    }
}
@media (min-width: 400px) and (max-width: 1118px){
    #Title{
        text-align: center;
    }
    #TitleAbove{
        margin-top: 3%;
        font-size: 35px;
    }
    #FirstBlog{
        display: inline-block;
        width: 100%;
        height: fit-content;
        margin-top: 1%;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(230, 214, 214);
    }
    #ImgForFirstBlog{
        max-width: 100%;
        height: 300px;
    }
    #Dis1ForFirstBlog{
        font-size: 30px;
        margin-left: 2%;
    }
    #MoreDisForFirstBlog{
        margin-left: 2%;
    }
    #EvenMoreDisForFirstBlog{
        margin-left: 2%;
    }
    #ReadMore{
        color: white;
        height: 50px;
        font-size: 20px;
        border: none;
        background-color: rgb(14, 13, 13);
        padding: 5px;
        margin-left: 2%;
        display: inline;
    }
    #ReadMore:hover{
        border: none;
        background-color: gray;
    }
    #CommentSection{
        display: block;
    }
    #comments{
        display: inline;
        margin-left: unset;
    }
    #NumberOfcomments{
        display: inline;
    }
    #ThirdBlog{
        display: block;
        width: 100%;
    }
    #FirstInBlogs{
        width: 100%;
    }
    #SecondInblogs{
        width: 100%;
    }
    #ThirdInblogs{
        width: 100%;
    }
    #ForthInblogs{
        width: 100%;
    }
    #LisF{    
        display: block;
        margin-left: unset;
        width: 100%;
    }
    #first{
        width: 100%;
    }
    #BlogOne{
        width: 100%;
    }
}
@media (min-width: 1118px) and (max-width: 1142px){
    #FirstBlog{
        display: inline-table;
        width: 500px;
        height: 700px;
        margin-top: 1%;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(230, 214, 214);
    }
}
@media (min-width: 1118px) and (max-width: 1245px){
}
@media (min-width: 1245px) and (max-width: 1330px){
    #Title{
        text-align: center;
    }
    #TitleAbove{
        margin-top: 3%;
        font-size: 35px;
    }
    #FirstBlog{
        display: inline-table;
        width: 700px;
        height: 700px;
        margin-top: 1%;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(230, 214, 214);
    }
    #ImgForFirstBlog{
        width: 100%;
        height: 350px;
    }
    #Dis1ForFirstBlog{
        font-size: 30px;
        margin-left: 2%;
    }
    #MoreDisForFirstBlog{
        margin-left: 2%;
    }
    #EvenMoreDisForFirstBlog{
        margin-left: 2%;
    }
    #ReadMore{
        color: white;
        height: 50px;
        font-size: 20px;
        border: none;
        background-color: rgb(14, 13, 13);
        padding: 5px;
        margin-left: 2%;
        display: inline;
    }
    #ReadMore:hover{
        border: none;
        background-color: gray;
    }
    #CommentSection{
        display: inline;
    }
    #NumberOfcomments{
        display: inline;
    }
    #SecondBlog{
        display: inline-table;
        margin-left: unset;
    }
    #comments{
        display: inline;
        margin-left: 500px;
    }
    #ThirdBlog{
        display: inline-block;
    }
    #SecondBlog{
        display: inline-table;
        width: 500px;
        height: fit-content;
        box-shadow: 3px 3px 3px rgb(230, 214, 214);
        margin-left: 2%;
        margin-top: unset;
        background-color: white;
    }
    #PicforSecondBlog{
        width: 100%;
    }
    #DisSecondPic{
        margin-left: 2%;
    }
    #EvenMoreDis{
        margin-left: 2%;
    }
    #LisF{    
        display: inline-block;
        margin-left: 62%;
    }
    #first{
        display: inline-block;
        width: 490px;
        height: 50px;
        background-color: gray;
    }
    #PopularBlogs{
        margin-top: 3%;
        color: white;
        margin-left: 7%;
    }
    #ImG{
        display: inline;
        width: 50px;
        height: 50px;
    }
    #IMGDIs{
        display: inline;
    }
}

